<configuration>
    <appender
            name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %msg%n)</pattern>
        </encoder>
    </appender>

    <appender
            name="SQL_TO_STDOUT"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %msg%n)</pattern>
        </encoder>
    </appender>

    <logger
            name="org.hibernate.SQL"
            level="debug"
            additivity="false"
    >
        <appender-ref ref="SQL_TO_STDOUT"/>
    </logger>

    <logger
            name="org.hibernate.engine.query"
            level="debug"
            additivity="false"
    >
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger
            name="org.hibernate.type"
            level="debug"
            additivity="false"
    >
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger
            name="org.hibernate.jdbc"
            level="debug"
            additivity="false"
    >
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger
            name="org.hibernate.type.descriptor.sql"
            level="debug"
            additivity="false"
    >
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger
            name="org.hibernate.type.descriptor.sql.BasicExtractor"
            level="error"
            additivity="false"
    >
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger
            name="org.hibernate.type.CollectionType"
            level="error"
            additivity="false"
    >
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
